<script>
  function updateClock() {
    const now = new Date();
    const hours: any = now.getHours().toString().padStart(2, "0");
    const minutes: any = now.getMinutes().toString().padStart(2, "0");
    const seconds: any = now.getSeconds().toString().padStart(2, "0");
    const timeString = `${hours}:${minutes}:${seconds}`;

    const hourDeg = (hours % 12) * 30 + (minutes / 60) * 30;
    const minuteDeg = minutes * 6 + (seconds / 60) * 6;

    const hourHand = document.getElementById("hour-hand");
    const minuteHand = document.getElementById("minute-hand");

    const clockText = document.getElementById("clock-text");
    if (clockText) clockText.textContent = timeString;

    if (!hourHand || !minuteHand) return;

    hourHand.style.transform = `rotate(${hourDeg}deg)`;
    minuteHand.style.transform = `rotate(${minuteDeg}deg)`;
  }

  document.addEventListener("DOMContentLoaded", () => {
    setInterval(updateClock, 1000);
    updateClock();
  });
</script>
<div class="wrapper">
  <div data-testid="header__city" class="city">Toulouse</div>
  <div data-testid="header___clock" class="clock">
    <div class="hour-hand" id="hour-hand"></div>
    <div class="minute-hand" id="minute-hand"></div>
    <div class="center-circle"></div>
  </div>
  <div class="clock-text" id="clock-text">00:00:00</div>
</div>
<style>
  .wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .clock {
    position: relative;
    width: 20px; /* Largeur maximale de l'horloge */
    height: 20px; /* Hauteur maximale de l'horloge */
    border: 1px solid var(--color-absolute-zero);
    border-radius: 50%;
  }

  .center-circle {
    position: absolute;
    width: 3x; /* Ajustez la taille du cercle central selon vos préférences */
    height: 3px; /* Ajustez la taille du cercle central selon vos préférences */
    background-color: var(--color-absolute-zero);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hour-hand,
  .minute-hand {
    position: absolute;
    background-color: var(--color-absolute-zero);
    transform-origin: center bottom;
  }

  .hour-hand {
    width: 1px; /* Ajustez la largeur de l'aiguille des heures selon vos préférences */
    height: 7px; /* Ajustez la longueur de l'aiguille des heures selon vos préférences */
    top: 3px; /* Ajustez la position de l'aiguille des heures selon vos préférences */
    left: 9.5px; /* Ajustez la position de l'aiguille des heures selon vos préférences */
  }

  .minute-hand {
    width: 1px; /* Ajustez la largeur de l'aiguille des minutes selon vos préférences */
    height: 9px; /* Ajustez la longueur de l'aiguille des minutes selon vos préférences */
    top: 2px; /* Ajustez la position de l'aiguille des minutes selon vos préférences */
    left: 9.5px; /* Ajustez la position de l'aiguille des minutes selon vos préférences */
  }
</style>
