---
import "./SectionServices.styles.scss";
import devReact from "./images/dev-react.png";
import redesign from "./images/redesign.png";
import technicalSeo from "./images/technical-seo.png";
import designSystem from "./images/design-system.png";
import performance from "./images/performance.png";
---

<script>
  import {
    animateService,
    hideImageOnSectionOut,
  } from "@features/home/components/SectionServices/SectionServices.animations";
  import { addAstroEventListeners } from "@functions/addAstroEventListeners";

  addAstroEventListeners(animateService);
  addAstroEventListeners(hideImageOnSectionOut);
</script>

<section
  id="section-services"
  data-testid="section-services"
  class="section-services spacing-section"
  aria-label="section services"
>
  <h2 class="title-mini">Des services adaptés à vos besoins</h2>
  <ul id="service-list" class="service-list">
    <li data-testid="service-1" data-image={devReact.src} class="service-item">
      Développement d'appplications React
    </li>
    <li data-image={redesign.src} class="service-item">
      Refonte d'appplications React
    </li>
    <li data-image={performance.src} class="service-item">
      Optimisation des performances
    </li>
    <li data-image={designSystem.src} class="service-item">
      Mise en place d'un design system
    </li>
    <li data-image={technicalSeo.src} class="service-item">
      Audit SEO Technique
    </li>
  </ul>
  <div>
    <div class="wrapper-image">
      <div
        data-testid="service-background-image"
        id="service-background-image"
        class="service-background-image"
        style={`background-image: url(${devReact.src})`}
      >
      </div>
      <div class="service-image-cover" id="service-image-cover"></div>
    </div>
  </div>
</section>
